<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <form class="form-login" role="form">
        <h2 class="form-login-heading">Logga in!</h2>
        <input type="text" class="form-control" placeholder="Email" data-ng-model="loginData.userName" required autofocus>
        <input type="password" class="form-control" placeholder="Lösenord" data-ng-model="loginData.password" required>
        <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="login()">Logga in!</button>
    </form>
        <div class=".col-xs-6">
            <a class="btn btn-info" href="/#/register" role="button">Skapa konto!</a>
        </div>

    <a href="#/passwordrestore">Glömt lösenord!</a>
</body>
</html>