<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <div id="controllerDiv" ng-controller="vehicleController" ng-init="getAllVehicles()">
        <table border="1">
            <tr>
                <th>Fordon</th>
            </tr>
            <tr ng-repeat="vehicle in vehicles">
                <td hidden="hidden">{{vehicle.CarId}}</td>
                <td hidden="hidden">{{vehicle.Status}}</td>
                <td>{{vehicle.licensNumber}}  
                <button class="fa fa-trash w3-large" type="submit"  ng-click="deleteVehicle($index)"></button>
                <button type="submit" ng-click="defaultVehicle($index)">Default</button>
                  <input type="checkbox" value="InvoiceSent" ng-model="vehicle.status" ng-change="updateVehicle($index)" ng-checked="vehicle.status == 1">
                 </td>
            </tr>
        </table>
        <br />
        <input type="text" class="form-control" placeholder="Registreringsnummer" data-ng-model="newVehicle.LicensNumber" required>
        <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="registerVehicle()">Spara fordon</button>
    </div>
</body>
</html>
